/node_modules
/public/js/*
/public/css/*
/public/hot
/public/storage
/public/generated-template
/public/generated-templates/*
/public/downloads/*
/storage/*.key
/database/sqlite/*
/database/*.sqlite
/vendor
/tmp
/ftp-test
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
package-lock.json
/.idea
/.vscode
/.config
/.cache
/.npm
connect.sh
.bash_history
.bash_logout
.bash_profile
.bashrc
.kshrc
.viminfo
.local
.phpenv
.deployed
mojo_whitelist/
ssh

